<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlCcXpGnWCreoGLmIt7w7ekhWXEPiF6lg</string>
	<key>GCM_SENDER_ID</key>
	<string>990848927910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.equibriumedsystem</string>
	<key>PROJECT_ID</key>
	<string>equibriu-med-system-wn4ocl</string>
	<key>STORAGE_BUCKET</key>
	<string>equibriu-med-system-wn4ocl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990848927910:ios:46875ee70224e84b8acc67</string>
</dict>
</plist>